
@import "variables-site/variables-site";
@import "mixins/mixins-master";


/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


/* */
.mph-pos-fixed-top {
  position: fixed;
  top:0 ;
  z-index: 100;
  -webkit-box-shadow: 0px 10px 10px -4px #777777;
  -moz-box-shadow: 0px 10px 10px -4px #777777;;
  box-shadow: 0px 10px 10px -4px  #777777;
  border-radius: 0 !important;
}

.listing-util-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px #d2d2d2 solid;
  margin-top: 15px;
}

.mph-bid-info-container {
  display: flex;
  align-items: baseline;
}


.mph-listing-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.mph-listing-util-button {
  margin-left: 10px;
}


.mph-expiration-info-container {
  display: flex;
  align-items: baseline;
}

.mhp-listing-util-member {
  margin-right: 10px;
  margin-top: 15px;
}

.mph-listing-util-label {
  margin-right: 5px;
}

.listing-meta-container {
  display: flex;
  padding-left: 32px;
}

.listing-box .listing-meta-container {
  padding-left: 16px;
}

.listing-meta-member {
  display: flex;
}

.listing-expire-meta {
  margin-left: 20px;
}

.listing-meta-label {
  margin-right: 5px;
  font-weight: bold !important;
}

/* Use absolute positioning to place bid and expiration date over listing */
.listing-post-style-footer_widget,
.listing-post-style-12,
.listing-post-style-13 {
  position: relative;
}

.listing-post-style-12 .listing-meta-container {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  font-size: 1em;
  width: 100%;
  background: #0000004a;
  padding: 10px 20px;
}

.listing-post-style-13 .listing-meta-container {
   position: absolute;
   top: 0px;
   left: 0px;
   color: white;
   font-size: 1.3em;
   width: 100%;
   background: #0000004a;
   padding: 10px 20px;
 }

.listing-post-style-footer_widget .listing-meta-container {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  font-size: 0.8em;
  width: 100%;
  background: #0000004a;
  padding: 0;
  flex-flow: column;

  .listing-expire-meta {
    margin-left: 0px;
  }
}













